body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #222; 
    color: #fff; 
    margin: 0;
    padding: 0;
}

#app {
    max-width: 600px;
    margin: 50px auto;
    background-color: #333; 
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #fff;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #666; 
    border-radius: 4px;
    background-color: #444; 
    color: #fff;
}

.subject {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #444; 
    border: 1px solid #666; 
    border-radius: 4px;
    position: relative;
}

.subject label {
    display: inline-block;
    width: 25%;
    text-align: right;
    margin-right: 10px;
    color: #ccc; 
}

.subject input {
    width: 60%;
    background-color: #555; 
    color: #fff;
    border: 1px solid #666; 
    border-radius: 4px;
}

.subject button {
    padding: 8px 10px;
    background-color: #ff0004; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.subject button:hover {
    background-color: #0056b3; 
}

#results {
    margin-top: 20px;
    padding: 10px;
    background-color: #444; 
    border: 1px solid #666; 
    border-radius: 4px;
}

.fail {
    color: red;
}

.subjectName, .score, .credits {
    border-color: #666; /* 中灰色 */
}

.fail .subjectName, .fail .score, .fail .credits {
    border-color: red;
}

